.column-container {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.column-container h2 {
    padding: 8px;
}

.task-list {
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
}