.column-container {
    width: 220px;  
    margin: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.column-container h2 {
    padding: 8px;
}

.task-list {
    min-height: 25vh;
    padding: 8px;
    transition: background-color 0.2s ease;
}